version: '3.8'
services:
  php-apache-environment:
       container_name: php-apache
       build:
           context: ./
           dockerfile: Dockerfile
       depends_on:
           - db
       volumes:
           - ./:/var/www/html/
       ports:
           - 8000:80
  db:
    container_name: db
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: inject_demodb
      MYSQL_USER: user
      MYSQL_PASSWORD: test
    ports:
      - "9906:3306"
    networks:
      - default  
    volumes:
      - ./sql/data.sql:/docker-entrypoint-initdb.d/data.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
        - '8080:80'
    restart: always
    environment:
        PMA_HOST: db
    depends_on:
        - db